@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

// COLORS:
$cl-very-dark-magenta: hsl(300, 43%, 22%);
$cl-soft-pink: hsl(333, 80%, 67%);
$cl-dark-grayish-magenta: hsl(303, 10%, 53%);
$cl-light-grayish-magenta: hsl(300, 24%, 96%);
$cl-white: hsl(0, 0%, 100%);

// FONT-FAMILY
$ff-league-spartan: "League Spartan", sans-serif;

// FONT-SIZE
$fs-normal: 1.6rem;

// FONT-WEIGHT
$fw-tiny: 400;
$fw-small: 500;
$fw-large: 700;
